{% extends 'layout.html' %}  

{% block title %} 
Logout
{% endblock %}  

{% block body %} 
<div class="container py-5" style="text-align: center;">
    <h5 class="">Are you sure you want to delete this listing?</h5><br/>
    <form action="{% url 'auction:delete_listing' listing.id %}" method="post">
        {% csrf_token %}
        <button class='btn btn-primary' type="submit">Yes</button>
        <a href='{% url "index" %}'><button class='btn btn-primary' type="button">No</button></a>
    </form>
</div>
{% endblock %} 